/* Sidebar */
.sidebar {
  width: 220px;
  height: calc(100vh - 56px);
  background: #4a7f8a;
  color: white;
  border-top: 1px solid #fff;
  padding: 12px 6px;
  margin: 0px;
  transition: width 0.3s ease-in-out;
}

/* Collapsed Sidebar */
.sidebar.collapsed {
  width: 0px; /* Shrinks Sidebar */
  padding: 0px !important;
}

/* Sidebar Links */
.nav-link {
  display: flex;
  align-items: center;
  // justify-content: center;
  text-align: center;
  padding: 10px 5px;
  color: white;
  font-size: 14px;
  border-radius: 6px;
  font-family: alatsipro;
  background-color: #759da5;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}
.nav-link:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.nav-link i {
  font-size: 20px; /* Icons remain visible */
  margin-right: 10px;
}

/* Hide Text When Collapsed */
.sidebar.collapsed .nav-link span {
  display: none;
}

/* Toggle Button */
.toggle-btn {
  position: fixed;
  top: 30px;
  left: 230px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.RouterActiveLink {
  background: #fff !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  color: #000 !important;

  .side_menu_btn_icon {
    font-size: 27px;
    color: #f37022;
  }
  .side_menu_btn_font {
    color: #000000;
    font-family: alatsipro;
  }
  i {
    color: #000;
  }
}
.nav-link i {
  /* Optionally add spacing or adjust the icon size */
  margin-right: 8px; /* Add some space between the icon and the text */
  margin-left: 5px;
}

.sidebar.collapsed + .toggle-btn {
  left: 0px;
  padding: 0px !important;
}

/* Rotate Arrow */
.arrow-icon {
  transition: transform 0.3s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}

.fa-solid {
  font-weight: 900;
  font-size: 20px;
}
::ng-deep .mat-expansion-panel-header {
  padding: 0px 15px !important;
  background-color: #759da5 !important;
  color: #ffffff !important;
  border-radius: 6px 6px 0px 0px !important;
}
::ng-deep .mat-expansion-indicator::after {
  color: #ffffff !important;
}

::ng-deep .mat-expansion-panel {
  border-radius: 6px !important;
}
::ng-deep .mat-expansion-panel-body {
  padding: 5px 12px 20px !important;
  background-color: #759da5 !important;
}

::ng-deep .mat-expansion-panel-header.mat-expanded {
  background-color: #759da5 !important;
}

::ng-deep .mat-expansion-panel-body {
  transition: max-height 0.5s ease-in-out; /* Adjust 0.5s to any duration you prefer */
}

::ng-deep .mat-expansion-panel {
  transition: margin 0.5s ease-in-out; /* This can smooth the margin application */
}
