::ng-deep .panelClass_clg_register .mat-mdc-dialog-container {
  margin: 0px;
  padding: 0px;
  width: 50vw;
}

::ng-deep .panelClass_clg_register .mdc-dialog__surface {
  border-radius: 10px !important;
}

::ng-deep
  .panelClass_clg_register
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}
::ng-deep .panelClass_clg_register .mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}
.college_div_body {
  padding: 30px 20px;
  // min-height: calc(80vh - 50px);
  max-height: calc(95vh - 50px);
  overflow: auto;
}

@media screen and (max-width: 650px) {
  ::ng-deep .panelClass_clg_register .mat-mdc-dialog-container {
    margin: 0px;
    padding: 0px;
    width: 100vw;
  }
}

@media screen and (min-width: 651px) and (max-width: 768px) {
  ::ng-deep .panelClass_clg_register .mat-mdc-dialog-container {
    margin: 0px;
    padding: 0px;
    width: 90vw;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  ::ng-deep .panelClass_clg_register .mat-mdc-dialog-container {
    margin: 0px;
    padding: 0px;
    width: 90vw;
  }
}

@media screen and (min-width: 992px) and (max-width: 1250px) {
  ::ng-deep .panelClass_clg_register .mat-mdc-dialog-container {
    margin: 0px;
    padding: 0px;
    width: 70vw;
  }
}
