/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import url("./assets/icons/icon1.css");
@import url("./assets/icons/icon2.css");

@font-face {
  font-family: poppinsregular;
  src: url(./assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: alatsiregular;
  src: url(./assets/fonts/Alatsi-Regular.ttf);
}

textarea {
  resize: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
